# Dependencies - JANGAN PUSH
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build output - JANGAN PUSH
dist/
build/
.frontend/dist
.vite/

# Env secret - JANGAN PUSH .env asli, push .env.example aja
.env
.env.local
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# Ngrok
.ngrok/
